@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik:300,300i,400,400i&display=swap');
body{background-color:white;font-family:"Rubik", sans-serif;-webkit-font-smoothing:anti-aliased;}
.first__block {
  text-align: center;margin:60px auto;width:80%;background-color:white;max-width:900px;
}
.second__block .container{text-align: center;margin:60px auto;width:80%;max-width:900px;padding-top:10px;}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.second__block{background-color:#f0f2ff;}
.main__card--container{display:flex;justify-content:space-between;flex-wrap:wrap;}
.little__card--container{display:flex;justify-content:space-between;padding-bottom:40px;}